* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #161718;
  min-height: 100vh;
  line-height: 1.34;
  direction: ltr;
  color: #ffffffc9;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.MuiSvgIcon-root {
  cursor: pointer;
}
